/*************************
# -  Mixins
*************************/
.lightgrey {
  color: #f9f9fa; }

.grey {
  color: #e6e6e6; }

.fr {
  float: right; }

.fl {
  float: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.row {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; }

.width100 {
  width: 100%; }

.width50 {
  width: 50%; }

.inline {
  display: inline-block; }

.block {
  display: block; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

h1, h2, h3, h4 {
  color: #197ae7;
  font-family: 'Bitter', serif;
  font-weight: 400;
  letter-spacing: 1px; }

hr {
  opacity: 0.3; }

strong {
  letter-spacing: 1px;
  font-weight: 700; }

header {
  background-color: #197ae7;
  display: inline-block;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; }
  header * {
    vertical-align: bottom; }
  header a {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  header nav {
    padding-right: 20px; }
    header nav ul {
      margin-top: 0;
      display: inline-block;
      margin-bottom: 0;
      position: relative; }
      header nav ul li {
        display: inline-block;
        color: black;
        line-height: 1.4em; }
        header nav ul li:not(:first-of-type) {
          margin-left: 30px; }
        header nav ul li a {
          text-decoration: none;
          color: white;
          letter-spacing: 2px;
          font-size: 14px;
          font-weight: lighter; }
          header nav ul li a:hover {
            opacity: 0.5; }
        @media only screen and (min-width: 379px) and (max-width: 1025px) {
          header nav ul li:not(:first-of-type) {
            margin-left: 15px; }
          header nav ul li a {
            font-size: 12px; } }
  header [data-element="logo"] {
    padding-left: 20px; }
    header [data-element="logo"] img {
      width: 60px;
      display: inline-block; }
    header [data-element="logo"]:hover {
      opacity: 0.5; }
  header [data-element="icon_menu"] {
    z-index: 999;
    display: inline-block;
    float: right;
    position: relative; }
    header [data-element="icon_menu"] svg path {
      stroke: white; }
  @media only screen and (min-width: 378px) {
    header [data-element="icon_menu"] {
      display: none; }
      header [data-element="icon_menu"] svg path {
        stroke: white; } }
  @media only screen and (max-width: 378px) {
    header {
      position: initial; }
      header [data-element="logo"] {
        margin-top: 10px;
        margin-left: 20px;
        padding-left: 0; }
      header [data-element="icon_menu"] {
        display: inline-block;
        margin-right: 20px; }
      header nav {
        padding-right: 0 !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 !important;
        background-color: #197ae7;
        z-index: 99;
        transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        -ms-transform: translateX(-150%);
        transform: translateX(-150%);
        margin-left: 0 !important;
        height: 100%; }
        header nav ul {
          padding-left: 0;
          text-align: center;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%); }
          header nav ul li {
            margin-top: 20px;
            margin-left: 0 !important;
            display: block;
            float: left;
            clear: left; }
      header svg.menu path {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      header svg.menu path#middle {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      header.open nav {
        -ms-transform: translateX(0);
        transform: translateX(0);
        height: 100%;
        margin-left: 0px;
        list-style: none;
        width: 100%;
        padding-top: 5px; }
      header.open svg.menu path {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      header.open svg.menu path#middle {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      header.open svg.menu path#top {
        -webkit-transform-origin: 37px 20px;
        -moz-transform-origin: 37px 20px;
        -ms-transform-origin: 37px 20px;
        transform-origin: 37px 20px;
        -webkit-transform: rotate(-45deg) translate(0px, 0px);
        -moz-transform: rotate(-45deg) translate(0px, 0px);
        -ms-transform: rotate(-45deg) translate(0px, 0px);
        -o-transform: rotate(-45deg) translate(0px, 0px);
        transform: rotate(-45deg) translate(0px, 0px); }
      header.open svg.menu path#middle {
        -webkit-transform-origin: 0%;
        -moz-transform-origin: 0%;
        -ms-transform-origin: 0%;
        transform-origin: 0%;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0; }
      header.open svg.menu path#bottom {
        -webkit-transform-origin: 25px 25px;
        -moz-transform-origin: 25px 25px;
        -ms-transform-origin: 25px 25px;
        transform-origin: 25px 25px;
        -webkit-transform: rotate(45deg) translate(0px, 0);
        -moz-transform: rotate(45deg) translate(0px, 0);
        -ms-transform: rotate(45deg) translate(0px, 0);
        -o-transform: rotate(45deg) translate(0px, 0);
        transform: rotate(45deg) translate(0px, 0); } }

main {
  position: relative;
  height: calc(100% - 50px);
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  background-color: white; }
  main:before {
    content: '';
    width: 100%;
    height: 85%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0; }
  main .container {
    background-color: white; }
  main [data-element="left-panel"], main [data-element="right-panel"] {
    max-height: 100%;
    min-height: 100%;
    float: left;
    width: 50%;
    position: relative;
    overflow: scroll; }
    main [data-element="left-panel"] .container, main [data-element="right-panel"] .container {
      padding: 20px; }
    @media only screen and (max-width: 375px) {
      main [data-element="left-panel"], main [data-element="right-panel"] {
        width: 100%; } }

[data-element="left-panel"] img {
  opacity: 0.3;
  max-width: none;
  width: 100%;
  display: block; }
[data-element="left-panel"] .container {
  margin-top: 20px; }
@media only screen and (max-width: 375px) {
  [data-element="left-panel"] .container {
    padding-bottom: 80px !important; } }

[data-element="right-panel"] a[data-element="right-panel-arrow"] {
  display: none;
  width: 20px;
  float: right; }
  [data-element="right-panel"] a[data-element="right-panel-arrow"] path {
    fill: white; }
@media only screen and (max-width: 378px) {
  [data-element="right-panel"] {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: fixed !important;
    top: calc(100% - 60px);
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    overflow: hidden !important; }
    [data-element="right-panel"] * h1, [data-element="right-panel"] * h2, [data-element="right-panel"] * h3 {
      color: white; }
    [data-element="right-panel"] .container {
      background-color: #197ae7;
      padding-bottom: 100px !important; }
      [data-element="right-panel"] .container #calendar {
        width: 100%;
        position: relative;
        overflow: hidden; }
        [data-element="right-panel"] .container #calendar [data-element="calendar-header"] {
          background-color: #57a3f9; }
    [data-element="right-panel"] h1 {
      margin-top: 0;
      font-size: 18px; }
    [data-element="right-panel"] a[data-element="right-panel-arrow"] {
      display: inline-block; }
      [data-element="right-panel"] a[data-element="right-panel-arrow"] svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%; }
    [data-element="right-panel"].open {
      overflow: scroll !important;
      top: 50px !important;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      [data-element="right-panel"].open a[data-element="right-panel-arrow"] svg {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0); } }

#calendar {
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  margin-bottom: 20px;
  display: table; }
  #calendar [data-element="calendar-header"] {
    cursor: default;
    background: #197ae7;
    color: white;
    height: 34px;
    position: relative;
    text-transform: uppercase;
    display: flex; }
    #calendar [data-element="calendar-header"] button {
      display: inline-block;
      position: relative;
      box-shadow: none;
      border: none;
      background-color: transparent;
      text-align: center;
      width: 40px;
      color: white;
      justify-content: center;
      display: flex;
      flex-direction: column; }
      #calendar [data-element="calendar-header"] button span {
        position: absolute;
        top: 0;
        display: inline-block;
        font-size: 20px;
        line-height: 34px; }
        @media only screen and (max-width: 378px) {
          #calendar [data-element="calendar-header"] button span {
            margin-top: 2px; } }
      #calendar [data-element="calendar-header"] button.left {
        cursor: pointer;
        text-align: left;
        float: left; }
        #calendar [data-element="calendar-header"] button.left span {
          left: 10px; }
      #calendar [data-element="calendar-header"] button.right {
        cursor: pointer;
        float: right;
        text-align: right; }
        #calendar [data-element="calendar-header"] button.right span {
          right: 10px; }
      #calendar [data-element="calendar-header"] button:hover {
        opacity: 0.5; }
    #calendar [data-element="calendar-header"] span.month-year {
      margin-top: 3px;
      font-size: 14px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: calc(100% - 80px);
      text-align: center; }
  #calendar table {
    background: white;
    border-collapse: collapse; }
    #calendar table td {
      color: black;
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #e6e6e6;
      cursor: default; }
      #calendar table td.today {
        background: #e6e6e6;
        color: black; }
      #calendar table td.active {
        background: #197ae7;
        border-bottom: 1px solid #197ae7;
        color: white; }
      #calendar table td:not(.null) {
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #calendar table td:not(.null):not(.active):hover {
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -ms-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
          opacity: 0.2; }
    #calendar table#calendar-days {
      height: 26px;
      line-height: 26px;
      text-transform: uppercase;
      font-size: 90%;
      color: black; }
      #calendar table#calendar-days td {
        pointer-events: none; }
        #calendar table#calendar-days td:not(:last-child) {
          border-right: 1px solid #fff; }
  #calendar #calendar-footer td span {
    font-size: 80%;
    position: relative; }
  #calendar #calendar-footer table.current {
    float: left; }
  #calendar #calendar-footer table.temp {
    position: absolute; }

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  font-family: 'Asap', sans-serif;
  background-color: #f9f9fa; }
  body p, html p {
    line-height: 1.4em;
    font-size: rem-calc(14px); }
