#calendar{ 
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    margin:50px auto;
    margin-bottom: 20px; 
    display:table; 

    [data-element="calendar-header"]{
    	cursor:default; 
	    background: $maincolor; 
	    color: white;
	    height: 34px; 
	    position: relative; 
	    text-transform: uppercase; 
	    display: flex;
	    button{
	    	display:inline-block; 
	    	position: relative;
    		box-shadow: none;
    		border:none;
    		background-color: transparent;
    		text-align: center;
    		width: 40px;
    		color: white;
    		justify-content: center;
			display: flex;
			flex-direction: column;
    		span{
    			position: absolute;
    			top: 0;
    			display: inline-block;
    			font-size: 20px;
    			line-height: 34px;
    			@media only screen and (max-width : 378px) {
    				margin-top: 2px;
    			}
    		}
    		&.left{
    			span{left: 10px;}
    			cursor: pointer;
    			text-align: left;
    			float: left;
    		}
    		&.right{
    			span{right: 10px;}
    			cursor: pointer;
    			float: right;
    			text-align: right;
    		}

    		&:hover{
    			opacity: 0.5;
    		}
	    }
	    span.month-year{
	    	margin-top: 3px;
	    	font-size: 14px;
	    	justify-content: center;
			display: flex;
			flex-direction: column;
			width: calc(100% - 80px);
			text-align: center;
		}
    }

    table{
    	background:white;
    	border-collapse:collapse; 

    	td{
    		color:black; 
		    width:50px; 
		    height:30px; 
		    line-height:30px; 
		    text-align:center; 
		    border:1px solid $grey; 
		    cursor:default; 

		    &.today{
		    	background:$grey; 
			    color:black;
		    }

		    &.active{
		    	background:$maincolor;
		    	border-bottom: 1px solid #197ae7;
			    color:white;
		    }

		    &:not(.null){
		    	cursor: pointer;
		    	@include transition(0.2s, ease-in-out);
		    	&:not(.active):hover{
		    		@include transition(0.1s, ease-in-out);
		    		opacity: 0.2;
		    	}
		    }
    	}

    	&#calendar-days{
    		height:26px; 
		    line-height: 26px; 
		    text-transform:uppercase; 
		    font-size:90%; 
		    color:black; 
		    td{
		    	pointer-events:none;
			    &:not(:last-child) { 
			    	border-right:1px solid #fff; 
				}
    		}
    	}
    }

   	#calendar-footer{
		td span{
			font-size: 80%;
			position: relative;
		}

		table.current{
			float: left;
		}
		table.temp{
			position: absolute;
		}
	}
}