header{
	background-color: $maincolor;
	display: inline-block;
	z-index: 1;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	*{
		vertical-align: bottom;
	}
	a{
		@include transition(0.15s, ease-in-out);
	}
	nav {
		padding-right: 20px;
		ul {
			margin-top: 0;
			display: inline-block;
			margin-bottom: 0;
			position: relative;
			li {
				&:not(:first-of-type){
					margin-left: 30px;
				}
				display: inline-block;
				color: black;
				line-height: 1.4em;

				a{
					text-decoration: none;
					color: white;
					letter-spacing: 2px;
					font-size: 14px;
					font-weight: lighter;
					&:hover{
						opacity: 0.5;
					}
				}
				@media only screen and (min-width : 379px) and (max-width: 1025px) {
					&:not(:first-of-type){margin-left: 15px;}
					a{font-size: 12px;}
				}
			}
		}
	}

	[data-element="logo"]{
		padding-left: 20px;
		img{
			width: 60px;
			display: inline-block;
		}

		&:hover{
			opacity: 0.5;
		}
	}

	[data-element="icon_menu"]{
		z-index: 999;
		display: inline-block;
		float: right;
		position: relative;
		svg path{
			stroke:white;
		}
	}

	@media only screen and (min-width : 378px) {
		[data-element="icon_menu"]{
			display: none;
			svg path{
				stroke:white;
			}
		}
	}
	@media only screen and (max-width : 378px) {
		position: initial;
		[data-element="logo"]{
			margin-top: 10px;
			margin-left: 20px;
			padding-left: 0;
		}
		[data-element="icon_menu"]{
			display: inline-block;
			margin-right:20px;
		}
		nav{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0 !important;
			background-color: $maincolor;
			z-index: 99;
			transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
			-ms-transform: translateX(-150%);
			transform: translateX(-150%);
			margin-left: 0 !important;
			height: 100%;

			ul{
				padding-left: 0;
				text-align: center;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				li{
					margin-top: 20px;
					margin-left: 0!important;
					display: block; 
					float: left; 
					clear: left; 
				}
			}
		}

		svg.menu {
			path {@include transition(0.2s, ease-in-out);}
			path#middle {@include transition(0.3s, ease-in-out);}
		}
		&.open{
			nav{
				-ms-transform: translateX(0);
				transform: translateX(0);
				height: 100%;
				margin-left: 0px;
				list-style: none;
				width: 100%;
				padding-top: 5px;
			}

			svg.menu {
				path {@include transition(0.2s, ease-in-out);}
				path#middle {@include transition(0.3s, ease-in-out);}
				path#top {
					@include transform-origin(37px 20px);
					@include transform(rotate(-45deg) translate(0px, 0px));
				}

				path#middle {
					@include transform-origin(0%);
					@include transform(translateX(-100%));
					opacity: 0;
				}

				path#bottom {
					@include transform-origin(25px 25px);
					@include transform(rotate(45deg) translate(0px, 0));
				}
			}
		}
	}
}
		