[data-element="left-panel"]{

	img{
		opacity: 0.3;
		max-width: none;
		width: 100%;
		display: block;
	}

	.container{
		margin-top: 20px;
	}

	@media only screen and (max-width : 375px) {
		.container{
			padding-bottom: 80px!important;
		}
	}
}