main{
	position: relative;
	height: calc(100% - 50px);
	display: block;
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
	&:before{
		content:'';
		width: 100%;
		height: 85%;
		box-shadow: 2px 2px 50px rgba(0,0,0,0.3);
		position: absolute;
		left: 0;
		top: 0;
	}
	.container{
		background-color: white;
	}
	[data-element="left-panel"], [data-element="right-panel"]{
		max-height: 100%;
		min-height: 100%;
		float: left;
		width: 50%;
		position: relative;
		overflow: scroll;

		.container{
			padding: 20px;
		}

		@media only screen and (max-width : 375px) {
			width: 100%;
		}
	}
}