[data-element="right-panel"]{
	a[data-element="right-panel-arrow"]{
		display: none;
		width: 20px;
		float: right;
		path{fill:white;}
	}
	@media only screen and (max-width : 378px) {
		*{
			h1, h2, h3{
				color: white;
			}
		}
		.container{
			background-color: $maincolor;
			padding-bottom: 100px!important;
			#calendar{
				width: 100%;
				position: relative;
				overflow: hidden;

				[data-element="calendar-header"]{
					background-color: #57a3f9;
				}
			}
		}
		@include transition(0.3s, ease-in-out);
		position: fixed!important;
		top: calc(100% - 60px);
		left: 0;
		right: 0;
		background-color: black;
		color:white;
		overflow: hidden!important;
		h1{
			margin-top: 0;
			font-size: 18px;
		}
		a[data-element="right-panel-arrow"]{
			display: inline-block;
			svg{
				@include transform(rotate(180deg));
				@include transition(0.3s, ease-in-out);
				@include transform-origin(50% 50%);
			}
		}
		&.open{
			overflow: scroll!important;
			top: 50px!important;
			@include transition(0.3s, ease-in-out);

			a[data-element="right-panel-arrow"]{
				svg{
					@include transition(0.3s, ease-in-out);
					@include transform(rotate(0));
				}
			}
		}
	}
}