@import './utilities/mixins';
@import './utilities/colors';
@import './utilities/utilities';
@import './utilities/styles';
@import './template/header';
@import './template/main';
@import './template/leftpanel';
@import './template/rightpanel';
@import './template/calendar';

body, html{
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	font-family: 'Asap', sans-serif;
	background-color: $lightgrey;
	p{
		line-height: 1.4em;
		font-size: rem-calc(14px);
	}
}