/*************************
# -  Mixins
*************************/
//GENERATE TRANSFORM-ORIGIN
@mixin transform-origin($v_h_align) {
    -webkit-transform-origin: $v_h_align;
    -moz-transform-origin: $v_h_align;
    -ms-transform-origin: $v_h_align;
    transform-origin: $v_h_align;
}
//GENERATE TRANSFORM
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
//GENERATE TRANSITION
@mixin transition ($time, $type) {
    -webkit-transition: all $time $type;
    -moz-transition: all $time $type;
    -ms-transition: all $time $type;
    -o-transition: all $time $type;
    transition: all $time $type;
}
//GENERATE TRANSLATE
@mixin translate ($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}
//GENERATE ROTATION
@mixin rotation ($degree) {
    -moz-transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -o-transform: rotate($degree);
    -ms-transform: rotate($degree);
    transform: rotate($degree);
}