.fr{ float: right; }
.fl{ float: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.row{
	display: block;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}
.width100{width: 100%;}
.width50{width: 50%;}
.inline{display: inline-block;}
.block{display: block;}
.flex{display: flex;}
.flex-center{
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
}